<!-- <h2>Log in</h2> -->

<p id="para-b1">Color Me Straight</p>
<p id="education-center-1">an online Education Center</p>

  <div class="paraDevise">
  <p id="paraDevise">We are an online Education Center</p> <br><br>
  <p id="paraDevise"> Built on integrity, innovation,
  and love—for you and for your hair.<br><br>
  We believe in a better way and we believe in beautiful naturally
  healthy-looking chemically treated hair.</p><br><br>

  <p id="paraDevise"> Our desire is to educate and help you</p>
  <p id="paraDevise"> Choose the right color or straightener to suit your needs.</p>
  <p id="paraDevise">We will show you step-by-step instructions on how to apply color or FX techniques.</p><br>
  <p id="paraDevise">We want to make sure you have the right tools to be prepared at home or when going in for your salon service.</p><br>
  <p id="paraDevise">We do not recommend straightening your hair at home. This is a long process and can easily damage or break your hair.
  Our expert staff will direct you to the right professional and help you ask all the right questions.</p>
</div>



<div class="loginDevise">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

</div>

<div class="userLinks">
  <%= render "users/shared/links" %>
</div>
