<!-- <h1>Color#index</h1>
<p>Find me in app/views/color/index.html.erb</p> -->

<!-- <iframe width="180" height="160" src="https://www.youtube.com/embed/Lao3GaYXLjs" frameborder="0" allowfullscreen></iframe> -->
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/AU-A_4UKfQ0" frameborder="0" allowfullscreen></iframe> -->

<!-- Color index page -->


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- end -->

<p id="para1">Color Me Straight</p>
<p id="education-center">an online Education Center</p>


  <!-- Grid -->
  <div class="w3-row-padding" id="plans">
    <div class="w3-center w3-padding-30">
      <br><br><br>
      <h3>Choosing the right hair color for your skin tone</h3><br><br>
      <p>Before you test your skin's undertones, make sure you're using natural light.
      <br> As artificial light can change how your skin looks depending on the slight color shift caused by different types of light bulbs.<br>
      <br>This guide gives several great options to determine your skin's true undertone.
      <br>For a quick check, we recommend flipping your palm face up and taking a look at the veins in your hand and wrist.
      <br>If your veins have a blue or purple hue, then you have cool undertones. If the veins have a greenish cast, you have warm undertones.
      <br>If you can't really say that they favor one shade over the other, then you likely have neutral undertones.
      <br>If you've got neutral undertones, congratulations — any of the colors we describe below should look great on you.
      <br> If you're cool or warm, keep reading to find out which shades work best for you, and why.</p>
      <br><br><br>
      <!-- by:The list-->
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <%= image_tag ("ashblonde1.jpg") %>
        <!-- <img src="/assets/ashblonde1.jpg" alt="John" style="width:100%"> -->
        <li class="w3-dark-grey w3-large w3-padding-32">Blondes</li>

        <li class="w3-padding-16"><b>Ash blonde</b>
          Ash blonde, including shades like platinum, ice, silver, and champagne, look great on those who have cool skin with reddish undertones. The slightly blue cast in these blonde shades will counteract ruddiness in the skin. Celebrities who have rocked ash blonde correctly with their skin tone include Gwen Stefani and Taylor Swift. If you decide to go with one of these shades, make sure you use a purple shampoo and conditioner to keep the color from yellowing.</li><br>

        <li class="w3-padding-16"><b>Warm blonde</b>
          If you have fair, cool skin with blue undertones, go slightly warmer with your blonde by choosing gold, caramel, amber, honey, or butterscotch for your shade. A honey or caramel blonde is also a good choice for those with olive skin and neutral undertones or deep skin, as going too light or ashy with your blonde can wash out your face. If you have very warm undertones, you want to avoid warm blonde, as too much yellow can make you look sallow. Use toner frequently to avoid your color going brassy.</li>

      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <%= image_tag ("warmbrown3.jpg") %>
          <!-- <img src="/assets/warmbrown3.jpg" alt="John" style="width:100%"> -->
        <li class="w3-dark-grey w3-large w3-padding-32">Browns</li>
        <li class="w3-padding-16"><b>Cool brown</b>
          Cool brown shades like chestnut, mocha, dark chocolate, and dark auburn go great with those who have skin with warm undertones. From fair to deep skin, if you've got yellow undertones, consider using a cool brown hair color to brighten up your complexion.</li>

        <li class="w3-padding-16"><b>Warm brown</b>
          Pick a warm brown shade like golden brown, honey, amber, mahogany, or cinnamon if you have medium skin with warm undertones. When Emilia Clarke isn't wearing her platinum wig as the Mother of Dragons on Game of Thrones, her favorite hair color is warm brown.</li><br>

        <li class="w3-padding-16"><b>Cool black</b>
          Cool black hair colors like espresso, licorice, blue-black or true black will look great on those with warm undertones. If you're fair or olive skinned, the contrast will take your yellowish undertones and give you an almost porcelain-doll look to your skin. If you have deep skin, you can wear cool black shades regardless of your undertone.</li>

      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <%= image_tag ("coolred4.jpg") %>
          <!-- <img src="/assets/coolred4.jpg" alt="John" style="width:100%"> -->

        <li class="w3-dark-grey w3-large w3-padding-32">Reds</li>

        <li class="w3-padding-16"><b>Cool red</b>
          Cool reds including auburn, burgundy, and true red will look great on those with fair cool skin with reddish undertones. The bluish red cast of your hair will make your skin pop instead of looking flushed or ruddy. If you have deep skin, opt for a cool auburn over warm red, because warmer red tones will make your skin look greenish or sickly.</li>

        <li class="w3-padding-16"><b>Warm red</b>
          If you have neutral skin undertones or bluish undertones in fair skin, then warm red is for you. Pick your favorite from strawberry blonde, amber, copper, or rust shades. Make sure to get shampoo for color-treated hair and avoid washing frequently to keep your color strong as long as possible between touch-ups.</li>



        <li class="w3-padding-16"><b>Warm black</b>
          If you crave warm black shades like dark mocha, cocoa, or brown-black, then make sure you have cool undertones to your fair or medium skin. If you have deep skin, then you can also use a mocha or cocoa shade to warm things up, no matter what undertone you have.</li>

      </ul>
    </div>
  </div>




  <!-- Videos Grid -->
  <div class="w3-row w3-container">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">I have selected a few good tutorial that explain color well </span>
    </div>
    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
      <iframe width="300" height="280" src="https://www.youtube.com/embed/KR4E0Qpbiso" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
      <iframe width="300" height="280" src="https://www.youtube.com/embed/AU-A_4UKfQ0" frameborder="2" allowfullscreen></iframe>
    </div>

    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
      <iframe width="300" height="280" src="https://www.youtube.com/embed/elyp89nZid4" frameborder="2" allowfullscreen></iframe>
    </div>

    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
      <iframe width="300" height="280" src="https://www.youtube.com/embed/SrKLoM36Zdk" frameborder="2" allowfullscreen></iframe>
    </div>
  </div>


  <!-- Understand what skin tone Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-40">
      <br><br><br>
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-100">Determining Your Undertones</span>
      <br><br><br>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <%= image_tag ("SkinTone1.png") %>
        <!-- <img src="/assets/SkinTone1.png" alt="John" style="width:100%"> -->
        <div class="w3-container">
          <h3>Understand what skin tone means</h3>
          <p class="w3-opacity">1</p><br>
          <p>
          Understand what skin tone means. Your skin tone, or undertone, does not refer to the shade of your skin (light, medium, dark)--that is your complexion, or the surface color of your skin. Your skin tone is determined by the amount of melanin, or pigment, in your skin and does not change from sun exposure or skin conditions like rosacea or acne.
          <br><br>
          [1] So while a person's skin may become pale in the winter and a rich brown in the summer, their skin tone will remain the same.
          Your skin tone will be one of the following: cool, warm, or neutral.
          <br><br>
          [2]
          Keep in mind your skin tone does not necessarily match what you see on the surface. So you may have pink or ruddy skin, but your skin tone may actually be yellow.
          <br><br>
          [3]
          Before attempting any of the following steps, make sure your skin is clean and free of any makeup, lotion, or toner. If you just washed your face, wait about 15 minutes before proceeding, as your skin may appear pink from scrubbing and make it difficult to see your true undertone.
          Always use natural lighting when examining your skin. Different lightbulbs can affect your skin differently--they may give it a yellow or green cast, and interfere with the appearance of your skin tone.</p>

          <p>This is a quick way to determine your undertones.
            <br><br>
            [4] Make sure you are examining your wrists in natural light, either standing near a window or outdoors, and that your wrist is clean and free of product.
            If your veins appear blue or purple, you have a cool skin tone.
            <br>br
            [5]
            If your veins appear green, you have a warm skin tone.
            <br><br>
        </p>
          <p><button class="w3-button w3-light-grey w3-block"></button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <%= image_tag ("SkinTone2.png") %>
        <!-- <img src="/assets/SkinTone2.png" alt="Mike" style="width:100%"> -->
        <div class="w3-container">
          <h3>Look at the color of the veins on the inside of your wrist</h3>
          <p class="w3-opacity">2</p><br>
          [6]
          If you can't tell if your veins are green or blue, you may have a neutral skin tone. If you have an olive complexion, you likely fall into this category.
         <br><br>

          <h3>Consider how your skin normally reacts to the sun</h3>
          <p class="w3-opacity">3</p>
          <br>
          <p>Do you tan easily? Do you burn or get freckles? The amount of melanin in your skin determines how it reacts to sun exposure and can help you determine your skin tone.
            <br><br>
          [7]
          If you tan easily and rarely burn, you have more melanin and you likely have a warm or neutral skin tone.
          <br><br>
          [8]
          If your skin burns and doesn't tan, you have less melanin and therefore a cooler skin tone.
          <br><br>
          [9]
          Some women with very dark, ebony skin may not burn easily but still have a cool skin tone. Try a few more tests to figure out your undertone.</p><br><br>

          <h3>Hold a white piece of paper up to your face</h3>
          <p class="w3-opacity">4</p><br>
          <p>Looking in a mirror, try to see how your skin looks in contrast to the white paper. It may appear to have a yellow cast, a blue-red or rosy cast, or it may not appear to be either, but a gray color instead.<br>
          <p>If your skin appears yellowish or sallow beside the white paper, you have a warm skin tone.</p>


          <p><button class="w3-button w3-light-grey w3-block"></button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <%= image_tag ("SkinTone4.png") %>
        <!-- <img src="/assets/SkinTone4.png" alt="Jane" style="width:100%"> -->
        <div class="w3-container">

          <h3>Use gold and silver foil or jewelry to find your skin tone</h3>
          <p class="w3-opacity">5</p><br>

          If your skin appears pink, rosy, or blueish-red, then you have a cool skin tone.<br>

          If your skin appears gray, your skin probably has an olive complexion with a neutral undertone.<br>
          The green from your complexion and the yellowish undertone combines to create this effect.
          <br><br>
          [10] You can experiment with neutral and warm tones, since you fall somewhere in between.
          <br><br>
          [11]
          If you can't determine any cast of yellow, olive, or pink, you have a neutral skin tone. Neutral tones can look good in foundations and colors on both ends of the cool/warm spectrum.
          <br><br>
          [12]
        </p>

          <p>Hold a sheet of gold foil in front of your face so that it reflects light back on your skin. Note whether it makes your face look grayish or washed out, or if it enhances your skin. Then try with a sheet of silver foil.
          If the gold foil looks best, you have a warm skin tone.<br>
          If the reflection from the silver foil makes your skin glow, you have a cool skin tone.<br><br>
          If you don't notice a difference (both silver and gold are flattering), then you likely have a neutral skin tone.
          <br><br>
          [13]
          If you don't have gold or silver foil, try laying gold and silver jewelry on your wrist, and notice which one is more flattering.</p>
          <p><button class="w3-button w3-light-grey w3-block"></button></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="w3-center w3-padding-64" id="contact">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16"><a href="/chemicals">Thermal Reconditioning</a></span><br><br>
    <a href="/rooms">Chat Live</a>
  </div>



</div>

<!-- Footer -->

<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
  <h3>Color Me Straight</h3>
  <h4>An online Education Center</h4>
  <h5> Built on integrity, innovation, and love—for you and for your hair.</h5><br>
  <h5>We believe in a better way and we believe in beautiful naturally healthy-looking chemically treated hair.</h5>
  <br><br>
  <a href="#" class="w3-button w3-dark-grey w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <!-- <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div> -->

</footer>
