<!-- <h2>Sign up</h2> -->

<p id="para-b1">Color Me Straight</p>
<p id="education-center-1">an online Education Center</p>

<div class="signupPara">
<p>Curious about Japanese hair straightening?</p><br><br>
<p>Sign up and Chat to answer </p> <br>
 <p>Your questions about the process and help you decide if a thermal reconditioning procedure is a good fit for you.</p><br><br>

 <p>Choosing the right hair color for your skin tone</p><br>
<p>Before you test your skin's undertones, make sure you're using natural light.
As artificial light can change how your skin looks depending on the slight color shift caused by different types of light bulbs.</p>


</div>

<div class="signupDevise">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>

<div class="userLinks">
<%= render "users/shared/links" %>
</div>
